<table
	id="table-plugins"
	class="table table-sm table-hover"
	data-toggle="table">
	<thead>
		<tr>
			<th
				data-field="name"
				data-sortable="true"
			>
				<span data-localize="plugin_name">Name</span>
			</th>
			<th>
				<span data-localize="plugin_description">Description</span>
			</th>
		</tr>
	</thead>
	<tbody>
{%-for plugin in site.data.plugins-external-%}
		<tr>
			<td><a target="_blank" href="{{ plugin.url }}">{{ plugin.name }}</a></td>
			<td>{{ plugin.description }}</td>
		</tr>
{%-endfor-%}
	</tbody>
</table>
